Repository lucifer1004/leetcode.typ: changes, and which pre-commit hooks are due for each by the changed paths.
All: typstyle, taplo, update-docs

typstyle:
  name: typstyle
  entry: typstyle -i
  language: system

taplo:
  name: taplo
  entry: taplo fmt
  language: system

update-docs:
  name: Update README from template
  entry: python3 scripts/update_docs.py
  language: system
  pass_filenames: false

feat: add problems and update front-end
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/index.html.template
  problems/0046/description.typ
  problems/0046/problem.toml
  problems/0046/solution.typ
  problems/0046/testcases.typ
  problems/0048/description.typ
  problems/0048/problem.toml
  problems/0048/solution.typ
  problems/0048/testcases.typ
  problems/0054/description.typ
  problems/0054/problem.toml
  problems/0054/solution.typ
  problems/0054/testcases.typ
  problems/0056/description.typ
  problems/0056/problem.toml
  problems/0056/solution.typ
  problems/0056/testcases.typ
  problems/0078/description.typ
  problems/0078/problem.toml
  problems/0078/solution.typ
  problems/0078/testcases.typ
  problems/0209/description.typ
  problems/0209/problem.toml
  problems/0209/solution.typ
  problems/0209/testcases.typ
  scripts/update_docs.py
Due: typstyle, taplo, update-docs

refactor: linkedlist
  AGENTS.md
  datastructures.typ
  display.typ
  problems/0002/solution.typ
  problems/0019/solution.typ
  problems/0021/solution.typ
  problems/0023/solution.typ
  problems/0024/solution.typ
  problems/0025/solution.typ
  problems/0206/solution.typ
Due: typstyle

feat: graph
  AGENTS.md
  README.md
  datastructures.typ
  display.typ
  leetcode.typ
  problems/0210/description.typ
  problems/0210/problem.toml
  problems/0210/solution.typ
  problems/0210/testcases.typ
  problems/0785/description.typ
  problems/0785/problem.toml
  problems/0785/solution.typ
  problems/0785/testcases.typ
  problems/0997/description.typ
  problems/0997/problem.toml
  problems/0997/solution.typ
  problems/0997/testcases.typ
  visualize.typ
Due: typstyle, taplo, update-docs

refactor: display
  .gitignore
  AGENTS.md
  display.typ
  lib.typ
  problems/0011/description.typ
  problems/0011/display.typ
  problems/0011/problem.toml
  problems/0042/description.typ
  problems/0042/display.typ
  problems/0042/problem.toml
  problems/0051/display.typ
  problems/0051/problem.toml
  problems/0207/display.typ
  problems/0207/problem.toml
  problems/0210/display.typ
  problems/0210/problem.toml
  problems/0289/display.typ
  problems/0289/problem.toml
  problems/0785/display.typ
  problems/0785/problem.toml
  problems/0997/display.typ
  problems/0997/problem.toml
  scripts/fetch_problem.py
  testing.typ
  utils.typ
Due: typstyle, taplo, update-docs

add more problems
  AGENTS.md
  README.md
  leetcode.typ
  lib.typ
  problems/0005/validator.typ
  problems/0015/problem.toml
  problems/0022/problem.toml
  problems/0033/description.typ
  problems/0033/problem.toml
  problems/0033/solution.typ
  problems/0033/testcases.typ
  problems/0039/description.typ
  problems/0039/problem.toml
  problems/0039/solution.typ
  problems/0039/testcases.typ
  problems/0046/solution.typ
  problems/0049/problem.toml
  problems/0050/problem.toml
  problems/0051/problem.toml
  problems/0072/description.typ
  problems/0072/problem.toml
  problems/0072/solution.typ
  problems/0072/testcases.typ
  problems/0076/description.typ
  problems/0076/problem.toml
  problems/0076/solution.typ
  problems/0076/testcases.typ
  problems/0078/problem.toml
  problems/0101/description.typ
  problems/0101/problem.toml
  problems/0101/solution.typ
  problems/0101/testcases.typ
  problems/0113/problem.toml
  problems/0347/problem.toml
  problems/0547/description.typ
  problems/0547/display.typ
  problems/0547/problem.toml
  problems/0547/solution.typ
  problems/0547/testcases.typ
  testing.typ
Due: typstyle, taplo, update-docs

refactor: template
  AGENTS.md
  leetcode.typ
  lib.typ
  templates/multiple-problems.typ
  templates/single-problem.typ
Due: typstyle

refactor: folder structure
  AGENTS.md
  badges.typ
  lib.typ
  problems.typ
  render.typ
  state.typ
  testing.typ
  validators.typ
  workbook.typ
Due: typstyle

add 407
  README.md
  problems.typ
  problems/0407/description.typ
  problems/0407/display.typ
  problems/0407/problem.toml
  problems/0407/solution.typ
  problems/0407/testcases.typ
Due: typstyle, taplo, update-docs

add 218
  README.md
  problems.typ
  problems/0218/description.typ
  problems/0218/display.typ
  problems/0218/problem.toml
  problems/0218/solution.typ
  problems/0218/testcases.typ
  problems/0407/testcases.typ
Due: typstyle, taplo, update-docs

refactor: 0011, 0017, 0042 visual
  images/p0017.png
  problems/0011/display.typ
  problems/0017/description.typ
  problems/0042/display.typ
Due: typstyle

docs: add showcases
  docs/showcases/showcase-1.png
  docs/showcases/showcase-2.png
  docs/showcases/showcase-3.png
  docs/showcases/showcase-4.png
  docs/showcases/showcase.typ
  problems/0011/display.typ
  problems/0042/display.typ
Due: typstyle

fix: 0049 validator
  problems/0049/problem.toml
  problems/0049/validator.typ
Due: typstyle, taplo, update-docs

chore: update typst.toml
  typst.toml
Due: taplo

docs: update static site
  docs/index.html.template
  docs/showcases/showcase.typ
Due: typstyle, update-docs

docs: update
  AGENTS.md
  workbook.typ
Due: typstyle

feat: register template
  README.md
  README.md.template
  docs/showcases/showcase-1.png
  docs/showcases/showcase-2.png
  docs/showcases/showcase-3.png
  docs/showcases/showcase-4.png
  images/thumbnail.png
  template/main.typ
  templates/multiple-problems.typ
  templates/single-problem.typ
  typst.toml
Due: typstyle, taplo, update-docs

[ImgBot] Optimize images
  docs/logo.png
  images/logo.png
Due: none

chore: use prek in CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  Justfile
Due: none

docs: update metadata
  Justfile
  README.md
  README.md.template
  lib.typ
  template/main.typ
  typst.toml
Due: typstyle, taplo, update-docs

docs: fix README
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  README.md.template
  docs/index.html.template
  template/main.typ
  typst.toml
Due: typstyle, taplo, update-docs

Path conditions:
  typstyle: any of: \.typ$
  taplo: any of: \.toml$
  update-docs: any of: ^(problems/.*/problem\.toml|README\.md\.template|docs/index\.html\.template)$
